@font-face {
    font-family: 'pokemonpolice';
    src: url('pokemonsolid.ttf');
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.title {
    color: #FFDE00;
    text-align: center;
    font-family: 'pokemonpolice';
    -webkit-text-stroke: 1px #3B4CCA;

}

#content-box {
    width: 600px;
    height: 500px;
    border: 10px solid lightgray;
    border-radius: 10px;
    background-color: green;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
}

#pokemon-info {
    width: 300px;
    height: 500px;
    background-color: #FF0000;
    text-align: center;
}

#pokemon-list {
    width: 300px;
    height: 500px;
    color: #FFDE00;
    -webkit-text-stroke: 1px #3B4CCA;
    background-color: #3B4CCA;
    font-family: 'pokemonpolice';
    font-size: 18px;
    overflow-y: auto;
}

.pokemon-name {
    border: 1px solid black;
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 5px;
    padding: 5px;
}

#pokemon-info img {
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: antiquewhite;
}

#pokemon-types {
    margin-top: 10px;
}

.type-box {
    padding: 3px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

.normal {
    background-color: beige;
    color: black;
}

.fire {
    background-color: orange;
    color: white;
}

.grass {
    background-color: green;
    color: white;
}
    
.water {
    background-color: blue;
    color: white;
}
    
.ice {
    background-color: Ilightblue;
    color: black;
}

.electric {
    background-color: gold;
    color: black;
}
    
.fighting {
    background-color: darkred;
    color: white;
}

.flying {
    background-color: skyblue;
    color: black;
}
    
.bug {
    background-color: yellowgreen;
    color: white;
}
    
.ghost {
    background-color: purple;
    color: white;  
}
    
.rock { 
    background-color: sienna;
    color: white;
}
    
.ground {
    background-color: burlywood;
    color: black;
}
    
.steel {
    background-color: silver;
    color: black;
}

.dark {
    background-color: darkgray;
    color: white;
}

.psychic {
    background-color: palevioletred;
    color: white;
}
    
.fairy{
    background-color: pink;
    color: black;
}
    
.dragon {
    background-color: teal;
    color: white;
} I
    
.poison {
    background-color: rgb(110, 0, 157);
    color: white;
}

#pokemon-description {
    width: 230px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;

    margin: 0 auto;
    margin-top: 10px;
    padding: 2px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}